.Burger{
    width: 100%;
    margin: auto;
    height: 250px; 
    /* If the build burger is greater than 250px, overflow
    will allow us to scroll rather than have it overlap */
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem
}

/* For mobile: From 500+ in with and 400+ in height */
@media (min-width: 500px) and (min-height: 400px){
    .Burger {
        width:350px;
        height: 300px;
    }
}

/* For mobile in portrait From 500+ in with and 401+ in height */
@media (min-width: 500px) and (min-height: 401px){
    .Burger {
        width:450px;
        height: 400px;
    }
}

/* For desktop: From 1000+ in with and 700+ in height */
@media (min-width: 1000px) and (min-height: 700px){
    .Burger {
        width:700px;
        height: 600px;
    }
}